/* src/App.css */

body {
  font-family: Arial, sans-serif;
}

h1 {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

div {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}
